# YAMS (Yet Another Multiboot System)
# antergos.d

for isofile in $isopath/antergos*.iso $isopath/Antergos*.iso; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$isopath/(.*)" "$isofile"
		submenu "$isoname ->" "$isoname" "$isofile" {
			iso_name="$2"
			iso_path="$3"
			echo "Mounting ${iso_path}..."
			save_env iso_path
			loopback loop "$iso_path"
			probe --label --set=cd_label (loop)
			
			source ${prefix}/configs/back.cfg
			back "grub.cfg" "<- Back to Main Menu [ESC]"
			
			menuentry "Start Antergos Live" {
				bootoptions="img_dev=$imgdevpath img_loop=$iso_path archisobasedir=arch archisolabel=$cd_label earlymodules=loop modules-load=loop rd.modules-load=loop udev.log-priority=crit rd.udev.log-priority=crit quiet splash"
				echo "Booting ${iso_path}..."
				echo "Bootoptions: ${bootoptions}"
				linux (loop)/arch/boot/vmlinuz $bootoptions
				initrd (loop)/arch/boot/archiso.img
			}
			
			menuentry "Non-Graphical Boot" {
				bootoptions="img_dev=$imgdevpath img_loop=$iso_path archisobasedir=arch archisolabel=$cd_label earlymodules=loop modules-load=loop rd.modules-load=loop systemd.unit=multi-user.target"
				echo "Booting ${iso_path}..."
				echo "Bootoptions: ${bootoptions}"
				linux (loop)/arch/boot/vmlinuz $bootoptions
				initrd (loop)/arch/boot/archiso.img
			}
		}
	fi
done