# YAMS (Yet Another Multiboot System)
# slackware.d

for isofile in $isopath/slackware*install*.iso $isopath/Slackware*Install*.iso; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$isopath/(.*)" "$isofile"
		submenu "$isoname ->" "$isoname" "$isofile" {
			iso_name="$2"
			iso_path="$3"
			echo "Mounting ${iso_path}..."
			save_env iso_path
			loopback loop "$iso_path"

			source ${prefix}/configs/back.cfg
			back "grub.cfg" "<- Back to Main Menu [ESC]"
			
			menuentry "Install Slackware" {
				bootoptions="load_ramdisk=1 prompt_ramdisk=0 rw printk.time=0 SLACK_KERNEL=huge.s"
				echo "Booting ${iso_path}..."
				echo "Bootoptions: ${bootoptions}"
				linux (loop)/kernels/huge.s/bzImage $bootoptions
				initrd (loop)/isolinux/initrd.img
			}
		}
	fi
done